.App {
  text-align: center;
  padding-left: 15vw;
  padding-right: 15vw;
  padding-top: 5vh;
  overflow: auto;
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 800px) {
  .App {
    padding-right: 5vw;
    padding-left: 5vw;
  }
}

.App-logo {
  border-radius: 50%;
  height: 22vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: auto;
}

.App-link {
  color: #61dafb;
}

.mardown-body {
  padding: 0 !important;
}

.result {
  padding-top: -10;
  background: #e6e6e6;
}
