@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

code {
  font-family: "Roboto", sans-serif;
}

menuitem {
  width: "fit-content";
  margin: "0 10px";
  color: "gray";
}

menuitem:hover {
  cursor: "pointer";
  color: gray;
  border-bottom: "2px solid gray";
}

html,
body,
#root,
#root > div {
  height: 100%;
}
