@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
  background: #f9f9f9;
  text-rendering: optimizeLegibility;
  /* overflow: hidden; */
}

code {
  font-family: "Roboto", sans-serif;
}

menuitem {
  width: "fit-content";
  margin: "0 10px";
  color: "gray";
}

menuitem:hover {
  cursor: "pointer";
  color: gray;
  border-bottom: "2px solid gray";
}

html,
body,
#root,
#root > div {
  height: 100%;
}

.markdown-body h1 {
  color: #222;
  font-size: 3rem !important;
  line-height: 3.65625rem !important;
  text-align: center;
  border-bottom: 0px solid #fff !important;
}

.markdown-body code {
  padding: 70px;
}

.markdown-body p {
  color: #222;
  font-size: 1.125rem;
  line-height: 1.82813rem;
  font-family: Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin-bottom: 1.82813rem !important;
}

.markdown-body a {
  color: #5d93ff !important;
  text-decoration: underline !important;
}

.markdown-body ul {
  list-style: square;
}

.markdown-body ul li {
  margin-bottom: 0.625rem;
  padding: 0 0.3125rem;
}

.markdown-body li > p {
  margin: 0px 0px 16px 0 !important;
  padding: 0 5px;
}

.markdown-body h2,
h3 {
  margin-top: 3.25rem !important;
  margin-bottom: 0.8125rem !important;
}

.markdown-body h2 {
  display: block;
  font-size: 1.6875rem !important;
  line-height: 2.4375rem !important;
  border: none !important;
}

.markdown-body h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600 !important;
}

@media screen and (min-width: 960px) {
  .return-button {
    position: fixed;
    max-width: auto;
    margin: 0;
    top: 30px;
    left: 30px;
    margin-top: 1.625rem !important;
  }
}

.return-button {
  display: block;
  max-width: 5.625rem;
  height: 35px;
  padding: 0 1.5rem;
  line-height: 2.1875rem;
  text-align: center;
  color: #222;
  border: 1px solid #e6e6e6;
  border-radius: 1.25rem;
  font-size: 1rem;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.return-button:hover {
  color: #5d93ff;
  text-decoration: underline;
  cursor: pointer;
}

.return-button a {
  color: #000;
  text-decoration: none;
}
