body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans";
}

code {
  font-family: "Open Sans";
}

menuitem {
  width: "fit-content";
  margin: "0 10px";
  color: "gray";
}

menuitem:hover {
  cursor: "pointer";
  color: gray;
  border-bottom: "2px solid gray";
}
